.home-message h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    padding-left: 200px;
    padding-top: 200px;
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    padding-left: 200px;
    position: relative;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    background: linear-gradient(to right, #fdc3ba, #ffb199); /* Lightened gradient background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.carousel-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}